html, body {
    margin: 0;
    padding: 0;
  }
  .menu{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: #FAFAFA;
    opacity: 0.9;
}
.logoContainer {
    width: 50px;
    height: 50px;
    margin-right: 7%;
  }
  

.logo{
    width: 100%;}

.nav{
    font-family: sans-serif;
    margin-top: -2px;
    margin-left: 400px;
    
}
.MenuItem{
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    
}
.model{
    height:530px;
    position:absolute;
    bottom:40px;
    left:93%;
    transform: translateX(-75%);
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight:bold;
    color:#6d6d6d;
    font-size:22px;
}
.text-container p:nth-child(2){
    font-family:calibri;
    font-weight:bold;
    letter-spacing:1px;
    color:#1a1a1a;
    font-size:60px;
    
}
.text-container p:nth-child(3){
    font-family: calibri;
    color: #403e3e;
    font-size:22px;
    line-height:30px;
}
 
.text-container p{
    margin:45px 0px 25px;
    line-height:0px;
}
.text-container button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-family:calibri;
    font-weight:bold;
    font-size: 16px;
    outline:none;
    margin:0px 10px;
    
}
.text-container{
    position: absolute;
    left:13%;
    top:42%;
    transform:translate(-13%,-42%);
}
.hire-btn{
    border:2px solid #373636;
    color:#373636;
    background-color:transparent;
    
}
.down-cv{
    background-color:#0B0B0B;
    color:#fff;	
    border:none;
}
button:active{
    transform:scale(1.1);
}
.about-container{
    width:80%;
    height:330px;
    background:#ffffff;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: 34%  auto 20px auto;
    position: relative;
    justify-content:space-evenly;
    align-items: center;
}

.about-text{
    width:500px;
} 
.about-container img{
    height:230px;
}
.about-text p:nth-child(1){
    color:#403e3e;
    font-family: calibri;
    font-weight:bold;
    font-size:26px;
    line-height:0px;
}
.about-text p:nth-child(2){
    color:#3e3d3d;
    font-size:19px;
    font-family: calibri;
    font-weight:bold;
    line-height:5px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
    color:#7e7d7d;
    font-family:calibri;
    font-size:18px;
}
#Activities{
    height:600px;
    background-color:#ffffff;
    padding: 2% 10% 0px 10%;
}
.activities-text p:nth-child(1){
    font-family: calibri;
    font-weight:bold;
    color:#1d1c1c;
    font-size:30px;
    line-height:0px;
}
.activities-text p:nth-child(2){
    font-family:calibri;
    font-weight: bold;
    color:#3e3d3d;
    font-size: 15px;
    line-height: 5px;
}
.activities-text p:nth-child(3){font-family:calibri;
color:#7e7d7d;
font-size: ;}
.services-text{
    width: 500px;
    margin:50px 0px;
}
.box-container{
    display:flex;
    justify-content:space-between;
}
.box-1,.box-2,.box-3{
    width: 300px;
    height:320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 18px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
    
    
}
 
.box-1{
    background-image:url("services-2.png");
}
.box-2{
    background-image:url("services-2.png");
}
.box-3{
    background-image: url("services-2.png");
}
.box-1 span,
.box-2 span,
.box-3 span{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: calibri;
    font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color:#FFFFFF;
    font-family: calibri;
    font-size: 17px;
    line-height:0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: calibri;
    color:#8F8F8F;
    text-align:center;
    width: 230px;
    margin:0px 0px 20px 0px;
}
.box-1 button,
.box-2 button,
.box-3 button{
    width:100px;
    height:30px;
    background-color:#FFFFFF;
    border:none;
    outline: none;
    border-radius:5px;
}
#recent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:30px 0px;
	flex-direction: column;
}

.client-heading span{
	color:#2B2B2B;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.1rem;
}
.recent-heading h3,
.client-heading h3,
#contact h3{
	color:#1c3548;
	font-size: 3rem;
	margin: 0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.recent-img{
	margin:0px 40px;
}
.recent-img img{
	width:100%;
	height: 100%;
}
.recent-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color:#2B2B2B;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
 
.recent-btn:hover{
	background-color: black;
	transition: all ease 0.2s;
}
.recent-btn{
	width:190px;
	margin-top: -20px;
}
#contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:40px 0px;
}
#contact h3{
    font: size 0.5em; 
    margin:20px;
    font-family: calibri;
    
}
#contact img{
    height:300px;
}
.contact-input{
    width:400px;
    height:50px;
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
    margin: top 3%;
}

footer{
	display:flex;
	justify-content: space-around;
	border-top: 1px solid rgba(232,232,232,0.5);
	background-color:#FAFAFA;
}
footer p{
	margin:1% ;
	color:#5f5f5f;
	font-size: 0.9rem;
}

.social-icons a{
	width:40px;
	height:40p;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
    margin-top: -2%;
	
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}
 
.copyright{
	color:#565555;
	font-size: 12px;
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}
.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#2B2B2B;
}
@media(max-width:1000px){
	*{
		box-sizing: border-box;
	}
	.model{
		height: 460px;
		left: 90%;
		transform: translateX(-90%);
	}
	.text-container{
		top:46%;
	}
	.text-container button{
		margin: 5px;
	}
	.about-container{
		width:90%;
		border-radius: 10px;
        margin: 34%  auto 20px auto;

	}
	.about-container img{
		height: 200px;
	}
	.about-text{
		width: 400px;
	}
	.about-text p:nth-child(1){
		font-size: 20px;
	}
	.about-text p:nth-child(2){
		font-size: 10px;
	}
	
	.about-text p:nth-child(3),
	.about-text p:nth-child(4){
		font-size: 14px;
	}
    #Activities{
		height: auto;
	}
	.box-1,.box-2,.box-3{
		flex-grow: 1;
		margin: 10px;
	}
	.contact-me{
		height: 200px;
	}
	.contact-me p{
		font-size: 26px;
	}
	.contact-me button{
		font-size: 14px;
		height:35px;
		width: 160px;
	}
}



